body {
    background-color: darkkhaki;

}
header{
    background-color: blue;
    text-align: center;
}
header h1 {
color: white;
margin: 0;
font-size: 5em;
}
.imageVitroniaMap {
    width: 30pc;
}
.h2-innovacion{
    color: black;
    font-size: 1.5em;
    text-align: left;
}
.resaltado-fusion{
    color: greenyellow;
    font-size: 2.5em;
    text-align: right;
}
.imagecoordinate{
    width: 20pc;
    text-align: center;
}
footer {
    background-color: blue;
    text-align:center
}